
/**
 * 66影视布局CSS
 * 最后更新时间：2015-10-16
 */

	body,ul,form,input,h4,p{ margin:0px; padding:0px; font-size:12px;}
	a{ text-decoration:none;}
	img{ border:0px; vertical-align:top;}
	li{ list-style:none;}
	.fl{ float:left;}
	.fr{ float:right;}
	#clear{ clear:both; }
	
	
	#header #div10{ height:24px; background:#f6ffdd; border-bottom:1px solid #97bf2b;}
	#header #div10 #div11{ width:960px; margin:0 auto; font-size:12px; color:#000; line-height:24px;}
	#header #div10 #div11 a{ color:#000;}
	#header #div10 #div11 a:hover{ text-decoration:underline; color:#f00;}
	
 	#header #logo{ width:960px; margin:0 auto; }
	#header #logo a{ width:200px; display:inline-block;}
	
	
	
	
	
	#nav #ul2{ width:942px; height:38px; border:1px solid #bcacbc; border-radius:2px; margin:2px auto; background:#55a52e; line-height:38px; list-style:none; padding-left:16px;}
	#nav #ul2 li{ float:left; margin-right:2px;}
	
	#nav #ul2 li a{ display:inline-block; width:56px; height:24px; line-height:24px; font-size:12px; color:#fff; text-align:center; background:#55a52e; border-radius:2px;}
	#nav #ul2 li a:hover{ background:#fff; color:#55a52e; } 
 	
	
	
	
	
	
	#searchZone #div12{ width:942px; height:52px; background:#f6ffdd; margin:0px auto; border:1px solid #97bf2b; padding:5px 6px 3px 10px; position:relative;}
	#searchZone #div12 #form a{ float:right; font-size:12px; color:#000; line-height:24px; text-align:center; background:url(../img/btn_bg.gif) repeat-x; display:inline-block; width:80px; height:24px; margin-left:4px; border-radius:2px; border:1px solid #ff9525; overflow:hidden;}
	#searchZone #div12 #form a:hover{ text-decoration:underline;}
	#searchZone #div12 #form1 #text{ width:402px; height:25px; border:1px solid #ff9525; color:#b5b5b5; position:absolute; left:10px; text-indent: 10px;}
	#searchZone #div12 #form1 #search{ width:78px; height:27px; border-radius:2px; border:1px solid #ff9525; background:url(../img/btn_bg.gif) repeat-x; overflow:hidden; font-size:14px; text-align:center; line-height:27px; position:absolute; left:420px;}
	#searchZone #div12 #form1 #search:hover{ cursor:pointer; }
	
	
	#searchZone #div12 #div13{ width:942px; padding:5px 6px 3px 10px; position:absolute; left:0px; bottom:4px;}
	#searchZone #div12 #div13 ul{ display:inline-block; list-style:none; position:absolute; bottom:4px; left:64px;}
	#searchZone #div12 #div13 ul li{ float:left; margin-left:12px; font-size:12px; line-height:12px; }
	#searchZone #div12 #div13 ul li a{ color:#e12f61;}
	#searchZone #div12 #div13 ul li a:hover{ text-decoration:underline;}
	
	
	
	
	
	
	#banner_1{ border:1px solid #97bf2b; width:958px; height:88px; overflow:hidden; margin:5px auto;}
	
	
	
	
	
	#reco_update{ margin:0 auto; width:960px; height:590px;}
	
	#reco_update #reco{ width:570px; height:590px;}
	#reco_update #reco #div8 { width:562px; height:28px; margin:0px auto; padding:0px 6px 0px 0px; background:url(../img/full_bg.gif) repeat-x; border:1px solid #97bf2b; border-bottom:none; position:relative;}
	#reco_update #reco #div8 p{ width:232px; height:28px; background:url(../img/title_bg.gif) no-repeat left 0; position:absolute; left:0px;}
	#reco_update #reco #div8 h4{ font-size:16px; color:#418132; line-height:28px; display:inline-block; position:absolute; left:35px; }
	#reco_update #reco #div8 span{ font-size:12px; color:#cc3300; line-height:28px; float:right; }
	#reco_update #reco #reco_update #reco #div1{}
	
	#reco_update #reco #div1 { width:544px; height:544px; background:#f6ffdd; margin:0px auto; border:1px solid #97bf2b; padding:15px 10px 0px 14px; }
	#reco_update #reco #div1 ul{ width:560px; }
	#reco_update #reco #div1 ul li{ float:left; margin-right:16px; margin-bottom:8px; } 
	#reco_update #reco #div1 ul li a:first-child{ display:block; width:120px; height: 150px; padding:1px; border: 1px solid #ccc;}
	#reco_update #reco #div1 ul li a:nth-child(2){ color:#000; text-decoration:none; text-align:center; line-height:18px;}
	#reco_update #reco #div1 ul li a:nth-child(2):hover{ color:#f00; }
	
	#reco_update #update{ width:386px; height:590px;}
	#reco_update #update #div9 { width:378px; height:28px; padding:0px 6px 0px 0px; background:url(../img/full_bg.gif) repeat-x; border:1px solid #97bf2b; border-bottom:none; position:relative;}
	#reco_update #update #div9 p{ width:232px; height:28px; background:url(../img/title_bg.gif) no-repeat left 0; position:absolute; left:0px;}
	#reco_update #update #div9 h4{ font-size:16px; color:#418132; line-height:28px; display:inline-block; position:absolute; left:35px; }
	#reco_update #update #div9 span{ font-size:12px; color:#cc3300; line-height:28px; float:right; }
	
	#reco_update #update #div2 { width:369px; height:552px; background:#f6ffdd; margin:0px auto; border:1px solid #97bf2b; padding:4px 8px 3px 7px; }
	#reco_update #update #div2 ul{ width:; }
	#reco_update #update #div2 ul li{ width:; height:23px; border-bottom: 1px dotted #97bf2b; position:relative; background:url(../img/list_bg.png) no-repeat left 10px top 8px;}
	#reco_update #update #div2 ul li a{ font-size:12px; line-height:22px; color:#000; text-decoration:none; position:absolute; left:27px;}
	#reco_update #update #div2 ul li a:hover{ color:#f00; text-decoration:underline;} 
	#reco_update #update #div2 ul li span{ float:right; font-size:12px; line-height:22px; color:#666; font-weight:bold;}
	
	
	
	
	
	#banner_2{ border:1px solid #97bf2b; width:958px; height:258px; overflow:hidden; margin:5px auto 5px;}
	
	#banner_3{ border:1px solid #97bf2b; width:958px; height:88px; overflow:hidden; margin:5px auto;}
	
	
	
	
	#footer #div7{ padding:5px 0px 7px 0px;}
	#footer #div7 p{ margin:0; padding:0; font-size:12px; color:#418100; text-align:center;line-height:20px;}
	#footer #div7 p a{ text-decoration:none; color:#999999; }
	#footer #div7 p a:hover{ text-decoration:underline; }
	
	
	
	
	
	
	#sort_side{ width:960px; height:1860px; margin:0px auto;}
	
	#sort_side #sort{ /* left */ width:722px; height:1860px; background:#f6ffdd;}
	
	#sort_side #sort #div4 { width:714px; height:28px; padding:0px 6px 0px 0px; background:url(../img/full_bg.gif) repeat-x; border:1px solid #97bf2b; border-bottom:none; position:relative;}
	#sort_side #sort #div4 p{ width:232px; height:28px; background:url(../img/title_bg.gif) no-repeat left 0; position:absolute; left:0px;}
	#sort_side #sort #div4 h4{ font-size:16px; color:#418132; line-height:28px; display:inline-block; position:absolute; left:35px; }
	#sort_side #sort #div4 h4 a{ float:left; font-size:16px; color:#418132; line-height:28px; }
	#sort_side #sort #div4 a{ font-size:12px; color:#cc3300; line-height:28px; text-decoration:none; float:right; }
	#sort_side #sort #div4 a:hover{ text-decoration:underline;}
	
	#sort_side #sort #div3 { width:690px; height:72px; background:#f6ffdd; border:1px solid #97bf2b; padding:4px 18px 4px 12px; margin-bottom:5px;}
	#sort_side #sort #div3 ul{ width:700px; height:72px; margin-right:-10px; }
	#sort_side #sort #div3 ul li{ float:left; margin-right:10px; margin-bottom:1px; width:130px; height:23px; border-bottom:1px dotted #97bf2b; } 
	#sort_side #sort #div3 ul li a{ color:#000; text-decoration:none; font-size:12px; line-height:22px; } 
	#sort_side #sort #div3 ul li a:hover{ color:#f00; text-decoration:underline; }
	
	#sort_side #side{ /* right */ width:234px; height:1860px; background:#f6ffdd;}
	
	#sort_side #side #div6 { width:226px; height:28px; margin:0px auto; padding:0px 6px 0px 0px; background:url(../img/full_bg.gif) repeat-x; border:1px solid #97bf2b; border-bottom:none; position:relative;}
	#sort_side #side #div6 p{ width:226px; height:28px; background:url(../img/title_bg.gif) no-repeat left 0; position:absolute; left:0px;}
	#sort_side #side #div6 h4{ font-size:16px; color:#418132; line-height:28px; display:inline-block; position:absolute; left:35px; }
	
	#sort_side #side #div5 { width:217px; background:#f6ffdd; margin:0px auto; border:1px solid #97bf2b; padding:4px 8px 3px 7px; margin-bottom:5px; }
	#sort_side #side #div5 ul{ width:; }
	#sort_side #side #div5 ul li{ width:; height:23px; border-bottom: 1px dotted #97bf2b; position:relative; background:url(../img/list_bg.png) no-repeat left 10px top 8px;}
	#sort_side #side #div5 ul li a{ font-size:12px; line-height:22px; color:#000; text-decoration:none; position:absolute; left:27px;}
	#sort_side #side #div5 ul li a:hover{ color:#f00; text-decoration:underline;} 
	#sort_side #side #div5 ul li span{ float:right; font-size:12px; line-height:22px; color:#666; font-weight:bold;}
	
	
	
	
	
	
	
	#friendlink{}
	#friendlink #div8 { width:958px; height:28px; margin:0px auto; background:url(../img/full_bg.gif) repeat-x; border:1px solid #97bf2b; border-bottom:none; position:relative;}
	#friendlink #div8 p{ width:232px; height:28px; background:url(../img/title_bg.gif) no-repeat left 0; position:absolute; left:0px;}
	#friendlink #div8 h4{ font-size:16px; color:#418132; line-height:28px; display:inline-block; position:absolute; left:35px; }
	
	#friendlink #div13{ width:958px; height:68px; border:1px solid #97bf2b; background:#f6ffdd; margin:0 auto; text-align:center;}
	#friendlink #div13 a{ margin-right:200px; display:inline-block; color:#000;}
	#friendlink #div13 a:hover{ text-decoration:underline; color:#f00;}
	
	
	
	
	